---
interface Data {
  log_id: number;
  log_message: string;
  log_timestamp: string;
  log_modified_id?: number;
  href?: string;
}

interface Props {
  columns: string[];
  data: Data[];
}

const { columns, data } = Astro.props;
---

<div class="relative overflow-x-auto rounded">
  <table class="w-full text-sm text-left text-gray-300 bg-gray-500/50">
    <thead
      class="text-xs font-medium tracking-wider text-gray-200 uppercase bg-gray-700"
    >
      <tr>
        {
          columns.map((column) => (
            <th scope="col" class="px-6 py-3">
              {column}
            </th>
          ))
        }
      </tr>
    </thead>

    <tbody>
      {
        data.map((item) => (
          <tr class="bg-gray-800 border-b border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-bold text-gray-50 whitespace-nowrap"
            >
              {item.log_id}
            </th>
            <td class="px-6 py-4">{item.log_message}</td>
            <td class="px-6 py-4">{item.log_timestamp}</td>
            {item.log_modified_id && (
              <td class="px-6 py-4">
                <a
                  href={`/toner/${item.href}`}
                  class="flex flex-row items-center gap-2 transition-colors cursor-pointer hover:text-teal-700"
                >
                  {item.log_modified_id}
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="size-4"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M9 15l6 -6" />
                    <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
                    <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
                  </svg>
                </a>
              </td>
            )}
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
